<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
    </head>
    <body class="bg-red-300">
        <div class="border-orange-500">
            <div class="">
                <img src="/static/flask-lib-logo.jpg" alt="logo" width="80%" height="auto">
            </div>
            <nav>
                <!-- navigation menu will go in here -->
                <li class="text-2xl flex">
                    <ul>Home</ul>
                    <ul>Authors</ul>
                    <ul>Categories</ul>
                    <ul>Become a Member</ul>
                    <ul>Contact Us</ul>
                </li>
            </nav>
            <div>
                {% block content %}{% endblock %}
            </div>
            <footer>
                <p>Footer section.</p>
            </footer>
        </div>
    </body>
</html>
