<li class="text-lg flex font-medium tracking-wide mx-auto w-2/4 space-x-10 justify-center text-white">
    <ul class="hover:font-semibold hover:bg-sky-700 p-0.5">
        <a href="{{ url_for('main.home') }}">Home</a>
    </ul>
    <ul class="hover:font-semibold hover:bg-sky-700 p-0.5">Authors</ul>
    <ul class="hover:font-semibold hover:bg-sky-700 p-0.5">Categories</ul>
    <ul class="hover:font-semibold hover:bg-sky-700 p-0.5">Become a Member</ul>
    <ul class="hover:font-semibold hover:bg-sky-700 p-0.5">
        <a href="{{ url_for('main.contact') }}">Contact Us</a>
    </ul>
</li>
